<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>

    <nav class="navbar navbar-primary bg-primary">

        <div class="col-sm">
            <h1 class="display-6">{{ current_user.first_name }} {{ current_user.last_name }} </h1>
        </div>
        <div class="col-lg-7">
            <!-- BLANK SPACE -->
        </div>
        <div class="col-sm" style="text-align: right">
            <form action="/logout" method="POST">
                {% csrf_token %}
                <input type="submit" name="logout" value="Logout" class="btn btn-danger">
            </form>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">

            <div class="col">
                <div class="my-container" style="padding: 30px;">
                    <h2 class="display-4">Add a Favorite Book</h2>
                    <br><br>
                    <form action="/add_book" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" name="book_title" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" name="book_description" rows="9"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Book</button>
                    </form>
                </div>
            </div>


            <!-- <div style="overflow-y: scroll; height:400px;"> -->

            <div class="col" style="overflow-y: scroll; height: 80vh; overflow: auto;">
                <div class="my-container" style="padding: 30px;">

                    <h2 class="display-4">List of Books</h2>
                    <br><br>
                    <ul>
                        {% for book in books %}
                        <li>
                            <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">

                                {% if current_user.id == book.uploaded_by.id %}

                                <a href="/update_book/{{book.id}}">
                                    <h4> {{ book.title }} (editable) </h4>
                                </a>
                                <p>Added By: {{ book.uploaded_by.first_name }} {{ book.uploaded_by.last_name }} </p>

                                {% for liker in book.likers.all %}
                                {% if current_user.id == liker.id %}
                                <p style="color: red">
                                    This book is your favorite
                                </p>
                                {% endif %}
                                {% endfor %}
                                {% endif %}


                                {% if current_user.id != book.uploaded_by.id %}

                                <a href="/display_book/{{book.id}}">
                                    <h4> {{ book.title }} (viewable) </h4>
                                </a>
                                <p>Added By: {{ book.uploaded_by.first_name }} {{ book.uploaded_by.last_name }} </p>

                                {% for liker in book.likers.all %}
                                {% if current_user.id == liker.id %}
                                <p style="color: red">
                                    This book is your favorite
                                </p>
                                {% endif %}
                                {% endfor %}
                                {% endif %}

                            </div>
                            <hr>
                        </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
    </div>


</body>

</html>